In [1]:
#Primeiro importamos a biblioteca Tabula
import tabula

In [2]:
#Então extraimos as colunas do pdf
reader_pdf = tabula.read_pdf("faturamento.pdf", pages="all")

#O indice serve para dizer qual tabela do PDF você quer ler
tabela_dados = reader_pdf[0]
tabela_faturamento = reader_pdf[1]

#O retorno é um DataFrame do pandas com a tabela desejada

In [3]:
print(f"Encontrei {len(reader_pdf)} tabelas no PDF")

#Perceba que nesse caso temos uma saída limpa, ou seja,
#o programa conseguiu indentificar corretamente todas as colunas e valores
display(tabela_dados)

Encontrei 2 tabelas no PDF

          Nome    Preço      Sabor     Cor Média de vendas
0      Tublito  R$ 5,00  Chocolate  Branco            100%
1  Choco bueno  R$ 6,00  Chocolate   Preto              0%
2   Uva Nature  R$ 5,50        Uva    Roxo              0%

In [4]:
#Agora vamos ver um caso onde o programa não lê 100% certinho!
#Perceba que a tabela vendas ficou vazia, e o seus dados foram parar na tabela Unnamed: 0!
display(tabela_faturamento)

         Mês Faturamento  Vendas  Unnamed: 0
0    Janeiro   R$ 110,00     NaN          22
1  Fevereiro    R$ 75,00     NaN          15
2      Março   R$ 130,00     NaN          26
3      Abril   R$ 150,00     NaN          30

In [5]:
#Para corrigir o erro, vou especificar as colunas que eu quero no DataFrame, para retirar Vendas da equação.
tabela_faturamento = tabela_faturamento[["Mês", "Faturamento", "Unnamed: 0"]]

#Depois disso renomeamos Unnamed: 0 para Vendas.
tabela_faturamento = tabela_faturamento.rename(columns={"Unnamed: 0": "Vendas"})

#Pronto! Tabela corrigida, agora é só exportar para .csv
display(tabela_faturamento)

         Mês Faturamento  Vendas
0    Janeiro   R$ 110,00      22
1  Fevereiro    R$ 75,00      15
2      Março   R$ 130,00      26
3      Abril   R$ 150,00      30

In [6]:
#Então é só exportar para um .csv!
tabela_dados.to_csv('tabela_dados.csv', index=False, sep=";")
tabela_faturamento.to_csv('tabela_faturamento.csv', index=False, sep=";")